.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      Deploy Keys
    %p
      Deploy keys allow read-only access to your repository. Deploy keys can be used for CI, staging or production servers. You can create a deploy key or add an existing one.
  .col-lg-9
    %h5.prepend-top-0
      Create a new deploy key for this project
    = render @deploy_keys.form_partial_path
  .col-lg-9.col-lg-offset-3
    %hr
  .col-lg-9.col-lg-offset-3.append-bottom-default.deploy-keys
    %h5.prepend-top-0
      Enabled deploy keys for this project (#{@deploy_keys.enabled_keys_size})
    - if @deploy_keys.any_keys_enabled?
      %ul.well-list
        = render partial: 'projects/deploy_keys/deploy_key', collection: @deploy_keys.enabled_keys, as: :deploy_key
    - else
      .settings-message.text-center
        No deploy keys found. Create one with the form above.
    %h5.prepend-top-default
      Deploy keys from projects you have access to (#{@deploy_keys.available_project_keys_size})
    - if @deploy_keys.any_available_project_keys_enabled?
      %ul.well-list
        = render partial: 'projects/deploy_keys/deploy_key', collection: @deploy_keys.available_project_keys, as: :deploy_key
    - else
      .settings-message.text-center
        No deploy keys from your projects could be found. Create one with the form above
    - if @deploy_keys.any_available_public_keys_enabled?
      %h5.prepend-top-default
        Public deploy keys available to any project (#{@deploy_keys.available_public_keys_size})
      %ul.well-list
        = render partial: 'projects/deploy_keys/deploy_key', collection: @deploy_keys.available_public_keys, as: :deploy_key
